/* main {
    width: fit-content;
} */

* {
    cursor:none;
}

.project-content > div {
    margin-bottom: -8px;
}

.accordion {
    background-color: #000000;
    color: var(--white);
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

hr.solid {
    border-top: 0.25px solid var(--primary-color);
    margin-bottom: 12px;
    margin-top: 24px;
}
  
.panel {
    background-color: #000000;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion {
    /* font-weight: 400; */
    font-family: 'Work Sans', sans-serif;
    font-size: 58px;
    line-height: 1.0;
    letter-spacing: -4px;
    display: flex;
    justify-content: space-between;
}

.accordion :nth-child(2) {
    justify-self: flex-end;

}

.date {
    margin-left: auto;
}

.module-text {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-gap: 40px;
    margin: 30px 0px;
}

.module-detail {
    font-size: 18px;
    line-height: 1.3;
    color: var(--primary-color);
    letter-spacing: -0.8px;
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 26px;
        letter-spacing: -1.25px;
    }
    .date {
        font-size: 26px;
        letter-spacing: -1.25px;
        margin-left: 10px;
    }
    .module-text {
        grid-template-columns: 1fr;
    }
}
