* {
    cursor:none;
}

body {
    background-color: #000000;
    cursor:none;
}

.cooper:hover {
    color: var(--white);
}

h1 {
    color: var(--white);
}

.module-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin: 30px 0px;
}

.module-title {
    color: var(--white);
}

.module-description {
    color: var(--white);
}

.module-detail {
    font-size: 58px;
    line-height: 1;
    color: var(--white);
    letter-spacing: -4px;
}

.module-description-link {
    color: var(--white);
}

.quote-text > p {
    color: var(--white);
}

.footer-text:hover {
    color: var(--white);
}


@media screen and (max-width: 480px) {

    .module-detail {
        font-size: 22px;
        line-height: 1.2;
        letter-spacing: -0.8px;
    }
    .module-text {
        grid-template-columns: 1fr;
    }

}